<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    	<!-- iOS meta tags -->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    	<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    	<link rel="stylesheet" type="text/css" href="papaya.css?version=0.6.4&build=566" />
        <link rel="stylesheet" href="css/angular-material.min.css"/>
        <link rel="stylesheet" type="text/css" href="styleChoix.css"/>
        <link rel="stylesheet" type="text/css" href="css/formStyle.css"/>
        <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" src="papaya.js?version=0.6.4&build=566"></script>
        <script type="text/javascript" src="jcanvas.min.js"></script>

        <script type="text/javascript" src="cronor.js"></script>

        <!-- Angular Material Dependencies -->
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-animate.min.js"></script>
        <script src="lib/angular-aria.min.js"></script>


        <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
        <script src="lib/angular-material.min.js"></script>

        <!--<script type="text/javascript" src="jquery-2.1.3.min.js"></script>-->
        <script type="text/javascript" src="wz_jsgraphics.js"></script>

        <script type="text/javascript" src="choixApp.js"></script>

    	<title>ATLAS CRONOR</title>

    	<script type="text/javascript">
                evenement();
    	 	var params = [];
    	</script>
	</head>

	<body ng-app="choixApp">
        <md-content ng-controller="buttonController" layout="column" layout-align="center center">
            <md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet($event)">
                Choix des localisations
            </md-button>

        </md-content>
        <div id="papayaDiv" class="papaya" data-params="params"></div>
        <!--<div id="papayaDiv" class="papaya" data-params="params"></div>-->

	</body>

    <script type="text/ng-template" id="bottom-sheet-grid-template.html">
        <md-bottom-sheet class="md-grid">
            <md-content ng-controller="ChoixCtrl">



                <md-content layout="column" layout-align="center start" id="choix-localisation">

                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h3>
                                <span>Choix de la localisation</span>
                            </h3>
                        </div>
                    </md-toolbar>

                    <section layout="row" layout-sm="column" layout-fill layout-align="center center" layout-wrap>
                        <md-button ng-click="addDescription()">Ajouter la description</md-button>
                        <md-button ng-if="!isOkToAddDescription" ng-disabled="true" class="md-primary">Ajouter la description</md-button>
                        <md-button class="md-primary" ng-click="goToPapaya()">Lancer le chargement des images</md-button>
                        <md-content ng-if="!isOkToGoPapaya">
                            <md-button ng-disabled="true" class="md-primary">Lancer le chargement des images</md-button>
                        </md-content>

                        <md-button class="md-warn" ng-click="closeOverlay()">Enlever toutes les images</md-button>
                        <md-button ng-click="cancelChoice()">Annuler</md-button>
                        <!--<div class="label">Flat</div>-->
                    </section>




                    <md-content layout="row" layout-fill layout-align="center start">
                        <!--Debut premier etage-->
                        <md-content>
                            <md-radio-group ng-model="zoneValue">
                                <md-subheader class="md-primary">
                                    Zone
                                </md-subheader>
                                <p class="md-body-2 pDetail" ng-repeat="result in tabResults">
                                    {{result.zone}}
                                </p>


                                <md-content layout="row" ng-repeat="zone in tabZones">
                                    <md-radio-button class="md-primary" ng-value="zone.value" aria-label="{{ zone.name }}">
                                        {{zone.name}}
                                    </md-radio-button>
                                </md-content>
                            </md-radio-group>
                        </md-content>



                        <md-content layout="row" ng-repeat="zone in tabZones">
                            <!--Debut deuxieme etage            -->
                            <md-content layout="column" ng-if="zoneValue == zone.value">


                                <!--<md-subheader class="md-warn" ng-if="!zone.localisations.length">-->
                                <!--Aucune localisation-->
                                <!--</md-subheader>-->
                                <!--<md-content>-->
                                <md-radio-group ng-model="zone.childValue">
                                    <md-subheader class="md-primary" ><!--ng-if="zone.localisations.length"-->
                                        Localisation
                                    </md-subheader>
                                    <p class="md-body-2 pDetail" ng-repeat="result in tabResults">
                                        {{result.loca}}
                                    </p>
                                    <md-content layout="row" ng-repeat="loca in zone.localisations">
                                        <md-radio-button class="md-primary" ng-value="loca.value" aria-label="{{ loca.name }}">
                                            {{loca.name}}
                                        </md-radio-button>
                                    </md-content>
                                </md-radio-group>
                                <!--</md-content>-->
                            </md-content>
                        </md-content>



                        <md-content layout="row" ng-repeat="zone in tabZones" flex="45" ng-if="zoneValue == zone.value">
                            <!--Debut deuxieme etage            -->
                            <md-content layout="column"  flex>
                                <md-content layout="row" ng-repeat="loca in zone.localisations">
                                    <!--Debut troisieme etage                        -->
                                    <md-content layout="column"  ng-if="loca.value == zone.childValue" layout-fill>
                                        <md-content layout="row">
                                            <md-content layout="column" ng-repeat="detail in loca.details" ng-if="detail.isRadioButton">
                                                <md-radio-group ng-model="detail.value" ng-change="controlAffichage()">
                                                    <md-subheader class="md-primary">
                                                        {{detail.name}} : {{detail.value}}
                                                    </md-subheader>
                                                    <p layout-align="center center" ng-if="det.name == detail.name" ng-repeat="det in tabResultDetails" class="pDetail">
                                                        <span>{{det.value}}</span>
                                                    </p>

                                                    <md-radio-button ng-repeat="item in detail.items" ng-value="item.value" aria-label="{{ item.name }}">
                                                        {{item.name}}
                                                    </md-radio-button>

                                                </md-radio-group>
                                            </md-content>

                                            <md-content layout="column" ng-repeat="detail in loca.details" ng-if="!detail.isRadioButton">
                                                <md-radio-group>
                                                <md-subheader class="md-primary">
                                                    {{detail.name}} : {{detail.value}}
                                                </md-subheader>
                                                <p ng-if="det.name == detail.name" ng-repeat="det in tabResultDetails" class="pDetail" layout-align="start start">
                                                    <span>{{det.value}}</span>
                                                    <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="deleteDescription(det, $index)" style="float: right;">
                                                        <span style="transform: scale(1.5);" ng-class="md-36" class="mdi mdi-delete"></span>
                                                    </md-button>
                                                </p>
                                                <!--<md-content >-->
                                                    <md-checkbox ng-repeat="item in detail.items" ng-if="item.ngIf" ng-model="item.isChecked" aria-label="{{ item.name }}">
                                                        {{ item.name }}
                                                    </md-checkbox>
                                                </md-radio-group>
                                                <!--</md-content>-->
                                            </md-content>
                                        </md-content>
                                    </md-content>
                                </md-content>
                            </md-content>
                        </md-content>

                    </md-content>

                </md-content>


                <!--<md-content ng-repeat="zone in tabZones"  ng-if="zoneValue == zone.value">-->
                <!--<md-radio-group ng-model="zone.childValue" ng-change="console.log(testValue)">-->
                <!--<md-content layout="row" ng-repeat="loca in zone.localisations">-->
                <!--<md-radio-button class="md-primary" ng-value="loca.value" aria-label="{{ loca.name }}">-->
                <!--{{loca.name}}-->
                <!--</md-radio-button>-->
                <!--</md-content>-->
                <!--</md-radio-group>-->
                <!--</md-content>-->

            </md-content>
        </md-bottom-sheet>
    </script>
</html>
