.etage{
	
}
.etage1{
	
}
.etage2{
	position: absolute;
	margin-left: 100px;
}

#papayaContainer0{
	max-width: 100%;
	max-height: calc(100% - 50px);
}
.pDetail{
	height: 48px !important;
	margin-top: 14px !important;
	margin-bottom: 14px !important;
	line-height: 48px;
	background-color: aliceblue;
}
md-radio-button{
	margin: 8px;
}

th.customTH{
	vertical-align: middle !important;
}

/*#choix-localisation{*/
	/*/!*height: 200px;*!/*/
	/*/!*width: 500px;*!/*/
	/*/!*background-color: blue;*!/*/
	/*border: 1px solid;*/
/*}*/
/*#languette-choix{*/
	/*text-align: center;*/
	/*position: relative;*/
	/*top: 20px;*/
	/*cursor: pointer;*/
/*}*/
/*.block {*/
	/*background: black;*/
	/*color: white;*/
	/*text-align: center;*/
	/*border-radius: 26px;*/
	/*/!*max-width: 646px;*!/*/
	/*/!*min-height: 190px;*!/*/
	/*/!*margin: 50px;*!/*/
/*}*/

/*.etage{*/
	/*text-align: initial;*/
/*}*/
/*#resume {*/
	/*width: 500px;*/
	/*margin: 5px auto;*/
/*}*/
/*label{*/
	/*cursor: pointer;*/
/*}*/

/*.hasToBeShow{*/
	/*display: block;*/
/*}*/

/*.etage{*/
	/*display: inline-block;*/
	/*vertical-align: top;*/
	/*height: 280px;*/
	/*padding: 20px 20px;*/
	/*border-right: solid 1px white;*/
	/*border-radius: 30px;*/
/*}*/
/*.etage2{*/
	/*display:none;*/
/*}*/
/*.etage3{*/
	/*display: none;*/
/*}*/

/*#resume > table > tbody ul {*/
	/*list-style-type: none;*/
	/*text-align: left;*/
/*}*/

/*#resume > table > thead > tr th {*/
	/*text-align: center;*/
/*}*/

/*#sendData {*/
	/*text-align: center;*/
/*}*/

/*@media screen and (max-width: 660px) {*/
    /*.block:first-of-type {*/
    	/*background-color: transparent;*/
    /*}*/
    /*.etage {*/
    	/*background-color: black;*/
    	/*width: 100%;*/
    /*}*/
    /*#resume {*/
    	/*width: 100%;*/
    /*}*/
/*}*/